<ExampleHeader Component="typeof(TextField)" Example="@GetType()" />

<EditForm Model="model" OnSubmit="Submit">
    <p>
        <TextField @bind-Value="model.Username">Username</TextField>
    </p>
    <p>
        <TextField @bind-Value="model.Password" type="password">Password</TextField>
    </p>
    <p>Username: @model.Username</p>
    <p>Password: @model.Password</p>
    <Button type="submit">Login</Button>
</EditForm>
<Dialog hidden=@(!isShowingDialog ? "true" : null)>
    <p>You submitted the form with the following contents:</p>
    <p>Username: @model.Username</p>
    <p>Password: @model.Password</p>
    <Button @onclick="CloseDialog">Close</Button>
</Dialog>

@code{
    private bool isShowingDialog = false;
    private EditModel model = new EditModel();
    public class EditModel
    {
        public string Username { get; set; }
        public string Password { get; set; }
    }
    private void Submit()
    {
        Console.WriteLine($"Username: {model.Username}");
        Console.WriteLine($"Password: {model.Password}");
        isShowingDialog = true;
    }
    private void CloseDialog() => isShowingDialog = false;
}